body {
    background-color: black;
}

.top-bar{
    position: fixed; 
    background-color: black;
    width: 100%;
    margin-bottom: 7px;
}

.top-buttons {
    margin-top: 7px;
    margin-bottom: 7px;
    font-family: 'Barlow', sans-serif;
    justify-content: flex-start;
    width: 100px;
    height: 50px;
    border: 0;
    border-right: 2px solid #d4bd6e;
    background-color: black;
    color: #d4bd6e;
    font-size: 16px;
}

.contact-me-button {
    border-right: 0;
}

.header {
    background-color: #babab5;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    height: 130px;
    font-family: 'Barlow', sans-serif;
    margin-top: 30px;
}

.about-me {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: #babab5;
    font-size: 40px;
    color: white;
    height: 400px;
    font-family: 'Barlow', sans-serif;
}

.projects{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: #babab5;
    font-size: 40px;
    color: white;
    height: 400px;
    font-family: 'Barlow', sans-serif;
}

.contact-me {
    display: flex;
    justify-content: center;
    background-color: #babab5;
    font-size: 40px;
    color: white;
    height: 400px;
    font-family: 'Barlow', sans-serif;
    margin-top:30px;
}

.home {
    margin-top: 7px;
    margin-bottom: 7px;
    font-family: 'Barlow', sans-serif;
    width: 100px;
    height: 50px;
    border: 0;
    border-right: 2px solid #d4bd6e;
    border-left: 2px solid #d4bd6e;
    background-color: black;
    color: #d4bd6e;
    font-size: 16px;
}
a {
    color: none !important;
    text-decoration: none !important;
}
