body {
    background-color: black;
}

.top-buttons {
    font-family: 'Roboto Condensed', sans-serif;
    justify-content: flex-start;
    width: 100px;
    height: 50px;
    border: 0;
    border-right: 3px solid #d4bd6e;
    background-color: black;
    color: #d4bd6e;
    font-size: 16px;
}

.contact-me-button {
    border-right: 0;
}

.separator1 {
    height: 7px;
}

.header {
    background-color: #babab5;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    height: 130px;
    font-family: 'Roboto Condensed', sans-serif;
}

.separator2 {
    height: 30px;
}

.about-me {
    display: flex;
    justify-content: center;
    background-color: #babab5;
    font-size: 40px;
    color: white;
    height: 400px;
    font-family: 'Roboto Condensed', sans-serif;
}

.separator3 {
    height: 30px;
}

.contact-me {
    display: flex;
    justify-content: center;
    background-color: #babab5;
    font-size: 40px;
    color: white;
    height: 400px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top:30px;
}

.home {
    font-family: 'Roboto Condensed', sans-serif;
/*     display: flex;
    justify-content: center; */
    width: 100px;
    height: 50px;
    border: 0;
    border-right: 3px solid #d4bd6e;
    border-left: 3px solid #d4bd6e;
    background-color: black;
    color: #d4bd6e;
    font-size: 16px;
     margin-left:47%;
}
/* .text-center{
     margin-left:auto;
    margin-right:auto;
} */